{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}VTOL VR Map Generator{% endblock %}</h1>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
{% endblock %}

{% block content %}

<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalTitle">Map Generation Status</h5>
            </div>
            <div class="modal-body">

                <div class="row mb-1" id="resultsData">
                    <div class="progress">
                        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label>Current Status: <p id="currentStatus">N/A</p>
                    <small id="currentStatusExtended" class="form-text text-muted">
                    </small>
                    </label>
                </div>
                <div id="imgContainer" style="display: none" class="row mb-1">
                    <img src="" id="imagename"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" id="downloadButton" class="btn btn-secondary disabled" value="Download Zip!">
            </div>
        </div>
    </div>
</div>

<form id="mapGenerator" class="col-2 settings bg-light">
    <h4 class="text-center">Settings</h4>
    <div id="submitError" class="alert alert-danger" role="alert" style="display: none">
      An unknown error occurred!
    </div>
    <div id="submitWarning" class="alert alert-warning" role="alert" style="display: none">
      An unknown error occured!
    </div>
    <div class="row mb-1">
        <div class="form-group">
            <label for="mapName">Map Name</label>
            <input type="text" class="form-control" id="mapName" placeholder="Map Name" name="mapName" required>
        </div>
    </div>

    <div class="row mb-1">
        <label for="zoomSlider" class="form-label">VTOL Map Size: <span id="vtolmapsize">192</span> sq. km</span></label>
        <input type="range" step="2" min="8" max="64" value="64" class="slider" id="zoomSlider" name="zoomValue" />
    </div>


    <div class="row mb-3">
        <label for="latitudeValue" class="form-label">Map Center: </label>
        <small class="form-text text-muted text-sm">
            Click on the map to select Lat/Lon
        </small>
        <input id="latitudeValue" name="latitudeValue" placeholder="Latitude" required>
        <input id="longitudeValue" name="longitudeValue" placeholder="Longitude" required>
        <input type="button" value=" Use My Location" id="mylocation" class="btn btn-outline-primary btn-sm mt-1">
        <small id="mylocationHelp" class="form-text text-muted">
            Location information is only saved in a hashed format and is used for caching data. Server side cache is cleared periodically and on rebuilds.
        </small>
    </div>

    <div class="row mb-1">
        <label for="mapResolution">Map Resolution</label>
        <select id="mapResolution" name="mapResolution" class="form-select">
            <option value="1024">1024</option>
            <option value="512" selected>512</option>
            <option value="256">256</option>
            <option value="128">128</option>
            <option value="64">64</option>
        </select>
    </div>

    <div class="row mb-1">
        <label for="edgeType">Edge Type</label>
        <select id="edgeType" name="edgeType" class="form-select">
            <option value="Hills">Hills</option>
        </select>
    </div>

    <div class="row mb-1">
        <label for="biome">Biome Type</label>
        <select id="biome" name="biome" class="form-select">
            <option value="Boreal">Boreal</option>
        </select>
    </div>

    <div class="row mb-1">
        <p>
            <a data-toggle="collapse" data-target="#advancedSettings" href="#advancedSettings" role="button" aria-expanded="false" aria-controls="advancedSettings">
                Advanced Settings
            </a>
        </p>
    </div>
    <div class="row mb-1 collapse" id="advancedSettings">
        <div class="row mb-1">
            <div class="form-group form-check">
                <label for="enableCityPaint" class="form-check-label">Enable City Paint</label>
                <input class="form-check-input" type="checkbox" id="enableCityPaint" name="enableCityPaint" checked>
            </div>
        </div>

        <div class="row mb-1" id="cityAdjustContainer">
            <label>City Paint Removal: <span id="cityAdjustValue">10</span>% removed</label>
            <input type="range" id="cityAdjust" min="1" max="95" value="10" class="slider" name="cityAdjust">
            <small id="cityAdjustHelp" class="form-text text-muted">
                Rescales the amount of city paint applied to the map. Maps with large amounts of cities can cause VTOL VR to use large amounts of RAM and take hours to generate!
            </small>
        </div>

        <div class="row mb-1">
            <div class="form-group form-check">
                <label for="generateRoads" class="form-check-label">Generate Roads</label>
                <input class="form-check-input" type="checkbox" id="generateRoads" checked name="generateRoads">
            </div>
        </div>

        <div class="row mb-1" id="minHighwayLengthContainer">
            <label>Minimum Highway Length: <span id="minimumHighwayLengthValue">5</span></label>
            <input type="range" id="minimumHighwayLength" min="1" max="20" value="5" class="slider"
                   name="minHighwayLength">
        </div>

        <div class="row mb-1">
            <div class="form-group form-check">
                <label for="forceBelowZero" class="form-check-label">Force below water</label>
                <input class="form-check-input" type="checkbox" id="forceBelowZero" name="forceBelowZero" aria-describedby="forceBelowZeroHelp"><br>
                <small id="forceBelowZeroHelp" class="form-text text-muted">
                    Forces a portion height map elevations to below 0, resulting in more water on the map.
                </small>
            </div>
        </div>

        <div class="row mb-1" style="display: none" id="offsetContainer">
            <label>Below water amount <span id="offsetAmountSliderValue">15</span></label>
            <input type="range" id="offsetAmountSlider" min="0" max="100" value="15" class="slider" name="offsetAmount">
        </div>
    </div>

    <div class="row mt-3">
        <button id="submitButton" type="submit" form="mapGenerator" value="Submit" class="btn btn-primary">
            <span id="count">Submit</span>
        </button>
    </div>


</form>

<div id="mapid"></div>

<div id="results" style="display: none">

</div>

<div class="modal">
    <!-- Place at bottom of page -->
</div>

{% endblock %}


{% block scripts %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}