{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}VTOL VR Map Generator{% endblock %}</h1>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
{% endblock %}

{% block content %}

<form id="mapGenerator" class="settings bg-light">
    <h4 class="text-center">Settings</h4>
    <ul class="settings-list bg-light">
        <li>
            <label>Map Name: </label>
            <input type="text" id="name" placeholder="Map Name" name="mapName">
        </li>

        <li>
            <label>VTOL Map Size = <span id="vtolmapsize">64</span> sq. km</span>
            </label>
            <input type="range" min="8" max="64" value="64" class="slider" id="zoomSlider" name="zoomValue" />
        </li>

        <li>
            <label>Map Center: </label>
            <input id="latitudeValue" value="Latitude" name="latitudeValue" placeholder="Latitude">
            <input id="longitudeValue" value="Longitude" name="longitudeValue" placeholder="Longitude">
        </li>

        <li>
            <input type="button" value="My Location" id="mylocation">
        </li>

        <li>
            <label>Disable City Paint: </label>
            <input type="checkbox" id="disableCityPaint" name="disableCityPaint">
        </li>

        <li>
            <label>City Paint Removal: <span id="cityAdjustValue">10</span>% removed</label>
            <input type="range" id="cityAdjust" min="1" max="95" value="10" class="slider" name="cityAdjust">
        </li>

        <li>
            <label>Generate Roads: </label>
            <input type="checkbox" id="generateRoads" checked name="generateRoads">
        </li>

        <li>
            <label>Minimum Highway Length: <span id="minimumHighwayLengthValue">5</span></label>
            <input type="range" id="minimumHighwayLength" min="1" max="20" value="5" class="slider"
                name="minHighwayLength">
        </li>

        <li>
            <label>Force below zero (Forces more water into vtol map): </label>
            <input type="checkbox" id="forceBelowZero" name="forceBelowZero">
        </li>

        <li>
            <label>Below water amount <span id="offsetAmountSliderValue">15</span></label>
            <input type="range" id="offsetAmountSlider" min="0" max="100" value="15" class="slider" name="offsetAmount">
        </li>

        <li>
            <label>Map Resolution</label>
            <select id="mapResolution" name="mapResolution">
                <option value="512">512</option>
                <option value="256">256</option>
                <option value="128">128</option>
                <option value="64">64</option>
            </select>
        </li>

        <li>
            <label>Edge Type</label>
            <select id="edgeType" name="edgeType">
                <option value="Hills">Hills</option>
            </select>
        </li>

        <li>
            <label>Biome Type</label>
            <select id="biome" name="biome">
                <option value="Boreal">Boreal</option>
            </select>
        </li>
    </ul>

    <button id="submitButton" type="submit" form="mapGenerator" value="Submit" class="w-100">
        <span id="count">Submit</span>
    </button>

    <!--
    <div class="locationContainer">
        <label>Map Name: </label>
        <input type="text" id="namxe" placeholder="Map Name" name="mapName">
    </div>
    <div class="zoomContainer">

    </div>
    <div class="locationContainer">

    </div>

    <div class="disableCityPaint">

    </div>
    <div class="cityAdjust" id="cityAdjustContainer">

    </div>
    <div class="generateRoads">

    </div>
    <div class="minHighwayLength" id="minHighwayLengthContainer">

    </div>
    <div class="forceBelowZero">

    </div>
    <div class="offsetAmount" id="offsetContainer" style="display: none">

    </div>
            <div class="mapWidth">
                <label>Map Size: <span id="mapWidthSliderValue">64</span></label>
                <input type="range" id="mapWidthSlider" min="8" max="64" value="64" class="slider" name="mapWidth">
            </div>
    <div class="resolution">

    </div>
    <div class="edgeType">

    </div>
    <div class="biome">

    </div>

    -->

</form>
<div id="mapid"></div>

<div id="results" style="display: none">
    <div id="resultsData">
        <label>Current Status: <span id="currentStatus">N/A</span></label>
    </div>
    <div id="imagename">
    </div>
    <div id="download" style="display: none">
        <input type="button" id="downloadButton" value="Download">
    </div>
</div>

<div class="modal">
    <!-- Place at bottom of page -->
</div>

{% endblock %}


{% block scripts %}

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

{% endblock %}